fractals/
Unity/Busy_Horizon/Library/ShaderCache/0/0a089a9a6261671c6e8b24024d0ffabb.bin
Unity/Busy_Horizon/Library/
Unity/Busy_Horizon/Temp/
max-standalone/Periscope Video Processor/media/Fractal-dive-with-alpha00000000.mov
max-standalone/Periscope Video Processor/media/Fractal-dive-z-depth.mov
max-standalone/Periscope Video Processor/media/anim-1-pink-screen-z-depth.mov
